name: vathiyar_ai_flutter
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  fluttertoast: ^9.0.0
  get: ^4.6.6
    
  email_validator: ^2.1.17
  amplify_flutter: ^1.6.1
  amplify_auth_cognito: ^1.6.1
  amplify_api: ^1.6.1


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

